<div>
  <div>
    <p>firstName : {{ data.value.firstName }}</p>
    <p>lastName : {{ data.value.lastName }}</p>
    <p>phoneNumber : {{ data.value.phoneNumber }}</p>
    <p>Email : {{ data.value.email }}</p>
    <div>
      skills :
      <div *ngIf="data.value.skills">
        <ul *ngFor="let skill of data.value.skills.split(',')">
          <li>{{ skill }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngFor="let edu of eduData.value">
    <div>
      <p>Degree Name: {{ edu.degName }}</p>
      <p>School : {{ edu.schoolName }} -- {{ edu.finYear }}</p>
    </div>
  </div>

  <div *ngFor="let exp of expData.value">
    <div>
      <p>Job Title: {{ exp.jobTitle }}</p>
      <p>
        Company : {{ exp.compName }} || {{ exp.startMonth }} --
        {{ exp.endMonth }}
      </p>
      <p>Job Experience : {{ exp.expSummary }}</p>
    </div>
  </div>
</div>
